@import "tailwindcss";

@font-face {
  font-family: "Glitch";
  src: url("/fonts/Glitch0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.glitch {
  font-family: "Glitch", arial;
}

:root {
  --background: #F9ECDF;
  --foreground: #5D3136;
  --font-work-sans: "Work Sans", sans-serif;
  --radius: 12px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}